.App {
  text-align: center;
  font-family:  'Signoria Bold', Arial, sans-serif;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

section > div > label > span {
  display: flex;
}

section > div > label > span > input {
  accent-color: #046A38;
}

html { scroll-behavior: smooth; }